/*.alert-danger, .alert-danger>a, .alert-error, .alert-error>a, .bg-danger, .bg-danger>a{*/
    /*color: #fff!important;*/
/*}*/
/*.alert-danger, .alert-error, .bg-danger{*/
    /*background-color: #dc3545!important;*/
/*}*/

.nav-divider{
    border-bottom: 1px solid #4f5962;
    display: block;
    width: 100%;
    margin: 5px 0;
}